.navbar{
    background-color: #080808c4;
    /* background-color: rgba(250, 250, 250, 0.76); */
}

a{
    color: white;
    font-size: 17px;
    
}

a:hover {
    color: #cac40a;
}

.login{
    border: #cac40a77;
    border-style:solid;
    border-radius: 15px;
}