

.box-juegos {
    min-height: 1px;
    margin: 5px ;
    width: 82%;
    height: 600PX;
    background-color: rgba(240, 248, 255, 0.603);

}

.contenedor-juegos{
    display: flex;
    align-items: center;
    height: 93%;
}

