<div data-component="CarouselControlDesktop">
    <h3>Chat general</h3>
    <ul>
        <div class="box-menu-juego">
            <li class="menu-item">
                <div class="row">
                    <div class="col-sm-3 imagen-usuario">
                        <img src="../../../../assets/imagenes/img_avatar2.png">
                    </div>
                    <div class="col-sm-7">
                        <div routerLink="chat-detalle" class="usuario-nombre">Usuario Prueba</div>
                    </div>
                    <div class="col-sm-2">
                        <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                            99+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh" src="./assets/imagenes-juegos/piedra-slide.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div routerLink="piedra-papel-tijera" class="css-rgqwpc">Piedra Papel Tijera</div>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh" src="./assets/imagenes-juegos/anagrama.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div class="css-rgqwpc">Anagrama</div>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh" src="./assets/imagenes-juegos/adivinaNumero.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div class="css-rgqwpc">Adivina el número</div>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh" src="./assets/imagenes-juegos/memo.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div routerLink="memo-test" class="css-rgqwpc">Memotest</div>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh" src="./assets/imagenes-juegos/ahorcado-logo.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div class="css-rgqwpc">Ahorcado</div>
                    </div>
                </div>
            </li>
        </div>
        <div class="box-menu-juego" data-component="WithClickTracking">
            <li class="menu-item" data-component="CarouselControlDesktop">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="css-han5dv">
                            <img class="css-b4kcmh"
                                src="./assets/imagenes-juegos/Math-pi-pencil-board-calculation-512.png">
                        </div>
                    </div>
                    <div class="col-sm-9 box-item">
                        <div class="css-rgqwpc">Agilidad Aritmética</div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>