img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.box-menu-juego {
    background-color: rgb(247 114 37 / 76%);
    border-radius: 15px;
    margin: 5px;
}

.usuario-nombre {
    color: aliceblue;
    align-items: center;
    text-align: center;
}


.row {
    align-items: center;
}


.menu-item {
    list-style-type: none;
}

.imagen-usuario {
    display: flex;
    align-items: center;
}

/* .carro {
    display: flex;
    align-items: center;
    background-color: #ffc107;
} */

ul {
    list-style-type: none;
}