<div id="carouselExampleDark" data-component="CarouselControlDesktop">
    <h4>Chat general</h4>
    <label for="exampleDataList" class="form-label">Chatear con:</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="jugadorSeleccionado"
        placeholder="Buscar jugador">
    <datalist id="datalistOptions">
        <option *ngFor="let jugador of listaJugadores" [value]="jugador.email">
    </datalist>
    <button (click)="abrirChat()" class="">send</button>
    <label>Recientes</label>
    <ul>
        <app-chat-lista [listaChat]="chatsRecientes" (onSelectedUsuario)="usuarioSelected($event);"></app-chat-lista>
    </ul>
    <app-chat [usuarioReceptorSelected]="receptor" [existeChat]="existeChatAbierto"
        (onChatNuevoGenerado)="actualizarListaYExisteChat()"></app-chat>
</div>