.box-login{
    border-radius: 15px;
    margin: 10px;
}

.titulo-utn{
    color:rgb(55, 159, 185);
    
    border-right: thick;
}

button{
    background-color:rgb(221, 175, 49);
}

.btn-primary:hover {
    color: #fff;
    background-color: #0bd791;
    border-color: #0aca1a;
}