.box-login {
    /* border-radius: 15px; */
    margin-top: 25px;
    margin-bottom: 25px;
    height: 84%;
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 96%, 0.778)
}

.titulo-utn {
    color: rgb(0 134 168);
    font-size: 60%;
    border-right: thick;

}

button {
    background-color: rgb(221, 175, 49);
}

.btn-primary:hover {
    color: #fff;
    background-color: #0bd7cd;
    border-color: #0aca1a;
}

.crea-cuenta {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color: rgb(221, 49, 86);
}