
<div class="row h-100 p-5 bg-light border rounded-3">
    <h3>Globant</h3>

    <!-- <div class="row">
        <div class="col sm-3"> -->
            <h5>QRP Support (June - February)</h5>

        <!-- </div> -->
        <!-- <div class="col sm-6 "> -->
            <h5> </h5>
        <!-- </div> -->
    <!-- </div> -->
    <p>.Net developer dedicated to maintenance of web application for QRP Application solving bug tickets and working along with a small team. </p>
    <p>Mainly dedicated to functional analysis </p>
    <h5>QRP Development (February - Present)</h5>
    <p>.Net developer dedicated to the develop and enhacement of web application for QRP implementing solutions given a user story. </p>
    <p>Working along with a large team, dividing tasks and giving stimations for sprints of two weeks.  </p>

    <div class="col-sm-4 mx-5">
            <ul class="list-group">
                <li>HTML</li>
                <li>Typescript</li>
                <li>Angular</li>
                <li>SQL</li>
                <li>C#</li>
            </ul>
    </div>

</div>




