
<div class="row h-100 p-5 bg-light border rounded-3">
    <h3>Proficient in: </h3>

    <div class="col-sm-4">
            <ul class="list-group">
                <li>HTML</li>
                <li>JavaScript</li>
                <li>Jquery</li>
                <li>Typescript</li>
                <li>C, C#</li>
            </ul>
    </div>
    <div class="col-sm-4">
            <ul class="list-group">
                <li>SQL</li>
                <li>NHibernate</li>
                <li>Entity Framework</li>
                <li>Entity Framework Core</li>
                <li>Slim 4 Skeleton</li>
            </ul>
    </div>
    <div class="col-sm-4">
            <ul class="list-group">
                <li>Jira</li>
                <li>Confluence</li>
                <li>Trello</li>
                <li>Projector</li>
                <li>Scrum methodology</li>
            </ul>
    </div>
    <div class="row mt-4">
    <h3>Languages: </h3>
        <div class="col-sm-4">
            <ul class="list-group">
                <li>Spanish</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li>English</li>
            </ul>
        </div>

    </div>
</div>



