<div id="carouselExampleDark" class="carousel carousel-dark slide box-home-juegos" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">

            <div class="carousel-caption d-none d-md-block d-md-block-mine">
                <div class="juego">
                    <img src="../../../../assets/imagenes/adivinaNumero.png"
                        class="img-fluid rounded-circle hoverable roundedImg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="mayor-menor" routerLinkActive="active-link">Jugar</button>
                        </div>
                        <div class="col">
                            <div class="paramtxt">
                                <h5>Adivina el numero</h5>
                                <p>Se descuenta el puntaje segun la cantidad de intentos</p>

                            </div>
                        </div>
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="AdivinaMasListado" routerLinkActive="active-link">Estadísticas</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="carousel-item" data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block d-md-block-mine">
                <div class="juego">
                    <img src="./../../../assets/imagenes/Math-pi-pencil-board-calculation-512.png"
                        class="img-fluid rounded-circle hoverable roundedImg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="AgilidadaMasListado" routerLinkActive="active-link">Jugar</button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="paramtxt">
                                <h5>Agilidad aritmética</h5>
                                <p>Debe responder problemas matematicos</p>
                                <p>Mientras mas rapido respondas, mas puntos</p>
                                <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block d-md-block-mine">
                <div class="juego">
                    <img src="./../../../assets/imagenes/piedra-slide.png"
                        class="img-fluid rounded-circle hoverable roundedImg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="PiedraPapelTijeraMasListado" routerLinkActive="active-link">Jugar</button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="paramtxt">
                                <h5>Piedra papel tijeras</h5>
                                <p>Competi contra la maquina</p>
                                <p>Sumás puntos si ganas</p>
                                <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block d-md-block-mine">
                <div class="juego">
                    <img src="./../../../assets/imagenes/anagrama.png"
                        class="img-fluid rounded-circle hoverable roundedImg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="Anagrama" routerLinkActive="active-link">
                                Jugar
                            </button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="paramtxt">
                                <h5>Anagrama</h5>
                                <p>Competi contra la maquina</p>
                                <p>Sumás puntos si ganas</p>
                                <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block d-md-block-mine">
                <div class="juego">
                    <img src="./../../../assets/imagenes/ahorcado-logo.png"
                        class="img-fluid rounded-circle hoverable roundedImg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="ahorcado" routerLinkActive="active-link">
                                Jugar
                            </button>
                        </div>
                        <div class="col">
                            <div class="paramtxt">
                                <h5>Ahorcado</h5>
                                <p>Encontrá la palabra secreta</p>
                                <p>Sumás puntos si ganas</p>
                            </div>
                        </div>
                        <div class="col">
                            <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning"
                                routerLink="AdivinaMasListado" routerLinkActive="active-link">Estadísticas</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>