.contenedor {
    height: 90vh;
    background-image: url('../assets/imagenes/desenfocado.jpg');
    background-size: 1500px;
    /* width: 1500px; */

  }

  img {
    max-width: 100%;
    max-height: 100%;
   }