
    <div class="px-4 py-5 px-md-5 text-center text-lg-start box-login" style="background-color: hsla(0, 0%, 96%, 0.623) ">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h1 class="my-5 display-3 fw-bold ls-tight">
                Juegos Online <br />
                <span class="titulo-utn">Universidad Tecnológica de Buenos Aires</span>
              </h1>
              <p style="color: rgb(7, 7, 7)">
                Esta es una web app a modo de práctica de la cursada en la UTN del  año 2022. Laboratorio IV, Primer Cuatrimestre.
              </p>
            </div>
    
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <form>
                    <div class="d-flex justify-content-center">
                      <h2 class="registro-txt">
                        Registro
                      </h2>
                    </div>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-6 ">
                        <div class="form-outline">
                          <input type="text" id="form3Example1" class="form-control" [(ngModel)]="nombre" name="nombre"  required minlength="4"  #name="ngModel"/>
                          <label class="form-label" for="form3Example1">Nombre</label>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-outline">
                          <input type="text" id="form3Example2" class="form-control" [(ngModel)]="apellido" name="apellido"  #surname="ngModel" required/>
                          <label class="form-label" for="form3Example2" >Apellido</label>
                        </div>
                      </div>
                    </div>
    
                    <!-- Email input -->
                    <div class="form-outline ">
                      <input type="email" id="form3Example3" class="form-control"  [(ngModel)]="email" name="email"  #emailInput="ngModel" required/>
                      <label class="form-label" for="form3Example3" >Email</label>
                    </div>
    
                    <div class="form-outline ">
                      <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password" name="password"  #passwordInput="ngModel" required/>
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                      <!-- <div class="form-outline ">
                        <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password" name="password"  #password="ngModel" required areEqual/>
                        <label class="form-label" for="form3Example4">Confirmar Password</label>
                      </div> -->
    

    
                    <!-- Submit button -->
                    <div class="d-flex justify-content-center">
                      <button (click)="registrar()" type="submit" class="btn btn-primary btn-block mb-4">
                        Aceptar
                      </button>
                    </div>
                    <div class="d-flex justify-content-center error" *ngIf="name.invalid && (name.dirty || name.touched) ">
                      <div *ngIf="name.errors?.['required']">
                        Por favor ingresar un nombre
                      </div>
                    </div>

                    <div class="d-flex justify-content-center error" *ngIf="surname.invalid && (surname.dirty || surname.touched) ">
                      <div *ngIf="surname.errors?.['required']">
                        Por favor ingresar un apellido
                      </div>
                    </div>

                    <div class="d-flex justify-content-center error" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched) ">
                      <div *ngIf="emailInput.errors?.['required']">
                        Por favor ingresar un email
                      </div>
                    </div>

                    <div class="d-flex justify-content-center error" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched) ">
                      <div *ngIf="passwordInput.errors?.['required']">
                        Por favor ingresar un email
                      </div>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
  
    <!-- Section: Design Block -->