    <div class="h-100 p-5 bg-light border rounded-3">
      <h3>Web Developer</h3>
      <p>Carla Vargas has worked as a Full-stack Web Developer for more than four years. </p>
      <p>Worked alongside another developers to implement REST APIs in .net and .net core Frameworks on backend and Angular Framework on the frontend side. </p>
      <p>She also worked with agile methodologies for business tasks that included reading, writing functional documentation, and time estimations.</p>
    </div>